<div class='main'>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    email:
    <input type='text' name='email' ngModel required>
    <br> name:
    <input type='text' name='name' ngModel required>
    <br> password:
    <input type='text' name='password' ngModel required>
    <br> building number:
    <input type='text' name='building_number' ngModel required>
    <br> street:
    <input type='text' name='street' ngModel required>
    <br> city:
    <input type='text' name='city' ngModel required>
    <br> state:
    <input type='text' name='state' ngModel required>
    <br> phone number:
    <input type='text' name='phone_number' ngModel required>
    <br> passport number:
    <input type='text' name='passport_number' ngModel required>
    <br> passport expiration:
    <input type='date' name='passport_expiration' ngModel required>
    <br> passport country:
    <input type='text' name='passport_country' ngModel required>
    <br> date of birth:
    <input type='date' name='date_of_birth' ngModel required>
    <br>
    <p>{{validation}}</p>
    <button>Register</button>
    <a routerLink='/register'>Back</a>
  </form>
</div>