<div class='main'>
  <div id='search-box' [style.display]='displaySearchBox'>
    <app-search-box></app-search-box>
  </div>
  <div id='result' [style.display]='displayResult'>
    <p>{{message}}</p>
    <button (click)="deleteCookie()">Clear</button>
    <table>
      <tr>
        <th>Airline Name</th>
        <th>Flight #</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Status</th>
        <th>Ticket</th>
      </tr>
      <tr *ngFor="let each of result">
        <td>{{each.airline_name}}</td>
        <td>{{each.flight_num}}</td>
        <td>{{each.departure_airport}}</td>
        <td>{{displayTime(each.departure_time)}}</td>
        <td>{{each.arrival_airport}}</td>
        <td>{{displayTime(each.arrival_time)}}</td>
        <td>{{each.price}}</td>
        <td>{{each.status}}</td>
        <td>
          <button (click)='buyTicket(each.airline_name,each.flight_num)'>Buy Ticket</button>
        </td>
      </tr>
    </table>
  </div>
</div>