.filter-airport ul li div {
    cursor: pointer;
}

#search-box {
    width: 500px;
    line-height: 50px;
    text-align: center;
    font-family: PoiretOne;
}

h1:nth-child(1) {
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1:nth-child(4) {
    font-size: 40px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 20px;
}

#flight-num{
    position: absolute;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #645853;
    left: 25px;;
    top: 340px;
    line-height: 50px;
    text-align: left;
}
#arrival{
    position: absolute;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #645853;
    left: 25px;;
    top: 390px;
    line-height: 50px;
    text-align: left;
}
#departure{
    position: absolute;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #645853;
    left: 25px;;
    top: 440px;
    line-height: 50px;
    text-align: left;
}

#source {
    position: absolute;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #645853;
    left: 25px;;
    top: 90px;
    line-height: 50px;
    text-align: left;
}

form p {
    font-size: 20px;
    margin: 0px;
    z-index: -1;
}

input {
    position: absolute;
    height: 30px;
    left: 100px;
    width: 150px;
    top: 5px;
    z-index: 0;
}

.filter-airport {
    position: absolute;
    left: 99px;
    width: 152px;
    top: 36px;
    z-index: 1;
    background-color: #CAD8DE;
    border: solid 2px #0F1108;
    font-size: 16px;
}

ul {
    padding: 10px;
    margin: 0px;
}

li {
    list-style-type: none;
}

#destination {
    position: absolute;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #645853;
    left: 25px;
    top: 140px;
    line-height: 50px;
    text-align: left;
}

#date {
    position: absolute;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: #645853;
    left: 25px;
    top: 190px;
    line-height: 50px;
    text-align: left;
}

#search {
    cursor: pointer;
    position: absolute;
    left: 350px;
    top: 120px;
    border: solid 3px #645853;
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

#search1 {
    cursor: pointer;
    position: absolute;
    left: 350px;
    top: 370px;
    border: solid 3px #645853;
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

i {
    display: block;
    margin-top: 15px;
    font-size: 50px;
    color: #645853;
}

#validation {
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}