<div class='main' [style.visibility]='formVisibility'>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    username or email:
    <input type='text' name='username' ngModel required>
    <br> password:
    <input type='text' name='password' ngModel required>
    <br>
    <input type="radio" name='type' value='customer' [ngModel]='type'>Customer<br>
    <input type="radio" name='type' value='airline_staff' [ngModel]='type'>Airline Staff<br>
    <input type="radio" name='type' value='booking_agent' [ngModel]='type'>Booking Agent<br>
    <p>{{validation}}</p>
    <button>Submit</button>
    <a routerLink='/register'>Register</a>
  </form>
</div>
<div class='main' [style.visibility]='redirectionVisibility'>
  <p>Login Successfully! Redirecting You to Homepage ...</p>
</div>