nav {
  overflow: hidden;
  background-color: #0F1108;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 70px;
  user-select: none;
  color: #333;
  font-family: 'Gugi';
  text-decoration: none;
  text-shadow: none;
}

#title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 70px;
}

#title div {
  color: #CAD8DE;
  position: absolute;
  font-size: 16px;
}

#title div:nth-child(1) {
  font-size: 60px;
  left: 12px;
}

#title div:nth-child(2) {
  top: 10px;
  left: 65px;
}

#title div:nth-child(3) {
  top: 25px;
  left: 65px;
}

#title div:nth-child(4) {
  top: 40px;
  left: 65px;
}

nav div {
  position: absolute;
  text-align: center;
}

.button {
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  font-family: 'PoiretOne', cursive;
}

.button p {
  margin: 0px;
}

#home {
  height: 70px;
  width: 150px;
  left: 150px;
}

#about {
  height: 70px;
  width: 150px;
  left: 300px;
}

#search {
  height: 70px;
  width: 150px;
  left: 450px;
}

#github {
  height: 70px;
  width: 150px;
  left: 600px;
}

.account {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

#login-message{
  position: fixed;
  width: 100%;
  height: 30px;
  top:70px;
  background-color: orange;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
}

#login-message p {
  margin:0px;
}