<nav>
  <div id='title'>
    <div>A</div>
    <div>iR-T:CKET</div>
    <div>RESERV</div>
    <div>SYS\></div>
  </div>
  <div id='home' class='underline-reveal button {{homeActive}}' (click)="this.router.navigate(['/home'])">
    <p>Home</p>
  </div>
  <div id='about' class='underline-reveal button {{aboutActive}}' (click)="this.router.navigate(['/about'])">
    <p>About</p>
  </div>
  <div id='search' class='underline-reveal button {{searchActive}}' (click)="this.router.navigate(['/search'])">
    <p>Search</p>
  </div>
  <div id='github' class='underline-reveal button' (click)="redirectGithub()">
    <p>GitHub</p>
  </div>
  <div [style.visibility]='loginState' (click)="this.router.navigate(['/login'])" class='account circle-button' id='login'>
    <p>login</p>
  </div>
  <div [style.visibility]='logoutState' (click)="this.router.navigate(['/logout'])" class='account circle-button' id='logout'>
    <p>logout</p>
  </div>
  <div [style.display]='loginMessageDisplay' id='login-message'>
    <p>You are not logged in yet. Please
      <a routerLink='/login'>login</a> or
      <a routerLink='/registeration'>register</a>.</p>
  </div>
</nav>