<div class='main'>
  <div class='message'>{{message}}</div>
  <div [style.display]='purchaseDisplay'>
    <h1>Ticket Information</h1>
    <table>
      <tr>
        <th>Airline Name</th>
        <th>Flight #</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Status</th>
        <th>Seats</th>
        <th>Remaining Tickets</th>
      </tr>
      <tr *ngFor="let each of result">
        <td>{{each.airline_name}}</td>
        <td>{{each.flight_num}}</td>
        <td>{{each.departure_airport}}</td>
        <td>{{displayTime(each.departure_time)}}</td>
        <td>{{each.arrival_airport}}</td>
        <td>{{displayTime(each.arrival_time)}}</td>
        <td>{{each.price}}</td>
        <td>{{each.status}}</td>
        <td>{{each.seats}}</td>
        <td>{{each.remain}}</td>
      </tr>
    </table>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div [style.display]='customerEmailDisplay'>
        Customer Email:
        <input type='text' name='customer_email' placeholder='email' ngModel>
      </div>
      <button>Purchase</button>
    </form>
    <button>Cancel</button>
    {{purchaseMessage}}
  </div>
</div>